{% extends '::base.html.twig' %}
{% block body %}
    <div class="container">
        <div class="row">
            {# left Menu start#}
            {{ render(controller('InfoPageBundle:Page:leftMenu')) }}
            {# left Menu end#}

            <div class="col-xs-8">
                <!--<h1 style="color:#2f2bff;  text-align: center" >{{ page.title }}<br> </h1><-->
                <p style="text-align: center; text-size:5px !important;">{{ page.text | raw }} </p> <br>
                <br><br>
            </div>
            {# right menu start  #}
            {#{{ include('InfoPageBundle:Default:rightMenu.html.twig') }}#}
            {# right menu end #}
        </div>
    </div>

{% endblock %}