
    <div class="navbar navbar-default top-menu">
        <div class="container-fluid">
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li role="presentation"><a style="font-size: 18px" href="{{ path('info_main_homepage') }}">Негизги бет</a></li>
                    {% for page in entity %}
                        <li role="presentation" style="font-size: 18px">
                            <a href="{{ path('info_page_get', {'id':page.id}) }}">{{ page.title }}</a>
                        </li>
                    {% endfor %}
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container-fluid -->
    </div>
