<div class="footer">

    <address>
        <strong>Биздин дарек</strong><br>
        Лейлек району,Исфана шаары<br>
        Кошмуратов кочосу. №46 <br>
        Телефон: (0-3656) 5-00-06 <br>
        Факс:5-00-09
    </address>
    <address>
        <a href="mailto:#">www.leylek.kg</a>
    </address>
    <a href="http://www.w3schools.com">
    <img src={{ asset('public/img/facebook.ico') }}  height="42" width="42" href ="#"></img>
        </a>
</div>

{#<div class="chooce">#}
    {#<ul class="nav navbar-nav navbar-rigth">#}
        {#<li><a href="#">Кыргызча</a></li>#}
        {#<ul class="nav navbar-nav navbar-rigth">#}
            {#<li><a href="#">Русский</a></li>#}
        {#</ul>#}
    {#</ul>#}
{#</div>#}
{#</div>#}
<br>
<br>

