<div class="footer">

    <address>
        <strong>Биздин дарек</strong><br>
        Лейлек району,Исфана шаары<br>
        Кошмуратов кочосу. №46 <br>
        Телефон: (0-3656) 5-00-06 <br>
        Факс:5-00-09
    </address>
    <address>
        <a href="mailto:#">www.leylek.kg</a>
    </address>
    <p class="connect">Join us on <a href="http://www.facebook.com">Facebook</a> &amp; <a
                href="http://www.gmail.com">@gmail</a></p>

</div>

{#<div class="chooce">#}
    {#<ul class="nav navbar-nav navbar-rigth">#}
        {#<li><a href="#">Кыргызча</a></li>#}
        {#<ul class="nav navbar-nav navbar-rigth">#}
            {#<li><a href="#">Русский</a></li>#}
        {#</ul>#}
    {#</ul>#}
{#</div>#}
{#</div>#}
<br>
<br>

