<div class="footer-bg">
    <div class="footer-content" class="container">

        <div class="column1">
            <h2>Социалдык тармактар</h2>
            <ul class="style1">
                <li class="first"><a href="#">Twitter</a></li>
                <li><a href="http://www.facebook.com">Facebook</a></li>
                <li><a href="http://www.flickr.com">Flickr</a></li>
                <li><a href="http://www.google.com">Google +</a></li>
                <li><a href="http://www.instagram.com">Instagram</a></li>
            </ul>
        </div>
        <div class="column2">
            <h2><strong>Биздин дарек</strong></h2>
            <ul class="style1">
                <li> Лейлек району,Исфана шаары</li>
                <li>Facebook</li>
                <li>Кошмуратов кочосу. №46</li>
                <li>  Телефон: (0-3656) 5-00-06 </li>
                <li>  Факс:5-00-09</li>
            </ul>
        </div>
    </div>
</div>
