
    <div  class="container-fluid fcont ">

        <div class="column1 col-md-4 col-md-offset-2">
            <h2>Социалдык тармактар</h2>
            <ul class="style1">
                <li class="first"><a href="#">Twitter</a></li>
                <li><a href="http://www.facebook.com">Facebook</a></li>
                <li><a href="http://www.flickr.com">Flickr</a></li>
                <li><a href="http://www.google.com">Google +</a></li>
                <li><a href="http://www.instagram.com">Instagram</a></li>
            </ul>
        </div>
        <div class="column2 col-md-5 col-md-offset-1">
            <h2><strong>Биздин дарек</strong></h2>
            <ul class="style1">
                <li> Ак-суу району</li>
                <li>Facebook</li>
                <li>Кошмуратов кочосу. №46</li>
                <li>  Телефон: (0-3656) 5-00-06 </li>
                <li>  Факс:5-00-09</li>
            </ul>
        </div>
    </div>
