<div class="col-md-3">
    <ul class="nav nav-pills nav-stacked">
        <li role="presentation"><a href="ayil.html">Айыл окмоттор</a></li>
        <li role="presentation"><a href="#">Долбоорлор</a></li>
        <li role="presentation"><a href="#">Токтомдор</a></li>
        <li role="presentation"><a href="pikir.php">Суроо-жооптор</a></li>
    </ul>
</div>