{% extends '::base.html.twig' %}
{% block body %}
    <h1 style="color:#2f2bff; font-size: 70; text-align: center" >{{ page.title }}<br> </h1>
    <h3>{{ page.text | raw }} </h3> <br>
    <br><br>
{% endblock %}

